


table {
	border-collapse:collapse;
	border-color: blue;
}

table td {
	border-width: 1px;
	padding: 3px 4px 3px 4px;
	border-style: inset;
	border-color: blue;
}
.xemlop {
	margin-top:20px;
}

.tkblop {
	margin-right:8px;
}